@font-face {
    font-family: 'DM Sans';
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-BoldItalic.eot');
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-BoldItalic.eot?') format('embedded-opentype'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-BoldItalic.woff2') format('woff2'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-BoldItalic.woff') format('woff'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Italic.eot');
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Italic.eot?') format('embedded-opentype'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Italic.woff2') format('woff2'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Italic.woff') format('woff'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-MediumItalic.eot');
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-MediumItalic.eot?') format('embedded-opentype'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-MediumItalic.woff2') format('woff2'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-MediumItalic.woff') format('woff'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Regular.eot');
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Regular.eot?') format('embedded-opentype'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Regular.woff2') format('woff2'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Regular.woff') format('woff'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Bold.eot');
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Bold.eot?') format('embedded-opentype'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Bold.woff2') format('woff2'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Bold.woff') format('woff'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Medium.eot');
    src: url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Medium.eot?') format('embedded-opentype'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Medium.woff2') format('woff2'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Medium.woff') format('woff'),
        url('https://finestwp.co/demos/html/fastland/fonts/typography-font/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

